{% layout '../layout/main.liquid' %}
{% block page %}Completed{% endblock %}
{% block body %}
  <section id="recently" class="my-4" hx-post="/htmx-component/animeList?full=true" hx-trigger="load" hx-swap="innerHtml">
    {% render "components/animeList.liquid", head: "Recently Watch", animeList: [] %}
  </section>

  <script src="/static/htmx.js"></script>
  <script src="/public/localstorage.js"></script>
  <script>
    document.getElementById("recently").addEventListener("htmx:configRequest", function(event) {
      event.detail.parameters['animeList'] = getCurrentlyWatchs();
    });
  </script>
{% endblock %}