<header class="w-full flex items-center justify-between bg-gray-950 p-4">
  <a href="/" class="font-bold text-2xl text-white">AnimeSource</a>
  <form action="/search" method="get">
    <input
      name="q"
      type="text"
      class="px-4 py-1 rounded-md"
      placeholder="Search...">
  </form>
</header>