<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/style.css">
    <title>AnimeSource | Home</title>
  </head>
  <body class="bg-gray-900">
    {% render 'components/header.liquid' %}
    <section id="completed" class="my-4">
      {% render "components/animeList.liquid"
        , head: "Complete"
        , animeList: buffer.complete
        , more: true
        , url: "/complete" %}
    </section>
    <section id="ongoing" class="my-4">
      {% render "components/animeList.liquid"
        , head: "On Going"
        , animeList: buffer.on_going
        , more: true
        , url: "/ongoing" %}
    </section>
  </body>
</html>